
<div class="row">
  <h1 >Editar datos</h1>
    <div mat-dialog-content class="content">
        <div class="form-group">
            <div class="form-group">
              <div class="form__group field">
                <input type="text"  class="form__field" placeholder="Name"  [(ngModel)]="data.nombre" >
                <label for="name" class="form__label">Nombre</label>
                </div>
              </div>
              <div class="form-group" *ngIf="!validation" >
                <div class="form__group field">
                  <input type="password"  class="form__field" placeholder="Name" [(ngModel)]="password">
                  <label for="name" class="form__label">Contraseña</label>
                </div>
              </div>
              <div class="form-group" *ngIf="!validation" >
                <div class="form__group field">
                  <input type="password" class="form__field" placeholder="Name" [(ngModel)]="cPassword" required />
                  <label for="name" class="form__label">Confirmar contraseña</label>
                </div>
              </div>
              <div class="form-group" *ngIf="validation" >
                <div class="form__group field">
                  <input type="text" class="form__field" placeholder="Name" [(ngModel)]="data.email" >
                  <label for="name" class="form__label" >Correo</label>
                </div>
              </div>

              <div class="form-group" *ngIf="validation" >
                <label class="per">Permisos</label>
                <mat-select disableRipple [(ngModel)]="data.rol" name="miselect" class="buttondesplegable" *ngIf="validation" >
                    <mat-option value="1">Administrador</mat-option>
                    <mat-option value="2">Usuario</mat-option>
                    <mat-option value="3">Ventas</mat-option>
                  </mat-select>
              </div>
           
          </div>
    <div mat-dialog-actions class="buttons">
        <button mat-button (click)="cancelar()" style="background-color: #e16259" >Cancelar</button>
        <button mat-button (click)="send()" style="background-color: #a9e159" cdkFocusInitial>Confirmar</button>
    </div>
    <simple-notifications></simple-notifications>
</div>

