#ABC {
  text-align: center;
  background: #ffffff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact{
    margin: 10%;
    font-size: 100%;
}

#select{
    margin: 10%;
    font-size: 60%;
}
