#ABC {
  text-align: center;
  background: #1a1b1c;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact{
    margin: 10%;
    font-size: 2rem;
}