p {
    text-align: center;
  }

  .container {
    height:100px;
    width:800px;
     text-align:center;
  }

  .textArea{
    width: 120%;
    height: 150px;
  }

  .buttondesplegable {
    background-color: #555555;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

  .button {
    display: inline-block;
    padding: 3px 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
  }
  

  .button:active {

    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }