<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h1>Producciones páramo</h1>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h1>Producctos principales</h1>
                <ul class="list-unstyled quick-links">
                    <li><a><i ></i>Cabañas</a></li>
                    <li><a><i ></i>Container</a></li>
                    <li><a><i></i>Cupula</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h1>Producctos principales</h1>
                <ul class="list-unstyled quick-links">
                    <li><a><i ></i>Cabañas</a></li>
                    <li><a><i ></i>Container</a></li>
                    <li><a><i></i>Cupula</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a ><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a ><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a> <i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a  target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>		
    </div>
</section>
<!-- ./Footer -->