<div id="ABC" data-elementor-type="footer" data-elementor-id="213" class="elementor elementor-213 elementor-location-footer">
    <div id="ABC" class="elementor-section-wrap">
    <section id="ABC" class="elementor-section elementor-top-section elementor-element elementor-element-ae98616 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ae98616" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ebb3c4d" data-id="ebb3c4d" data-element_type="column">
    <div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-583396b elementor-widget elementor-widget-theme-site-title elementor-widget-heading" data-id="583396b" data-element_type="widget" data-widget_type="theme-site-title.default">
    <div class="elementor-widget-container">
    <h2 class="elementor-heading-title elementor-size-default"><a href="https://alcor-elementor.42theme.com">Producciones Páramo</a></h2> </div>
    </div>
    <div id="ABC" class="elementor-element elementor-element-6ec8bcb elementor-widget elementor-widget-heading" data-id="6ec8bcb" data-element_type="widget" data-widget_type="heading.default">
    <div id="ABC" class="elementor-widget-container">
    <p id="ABC" class="elementor-heading-title elementor-size-default">CALLE 26 # 16-57, EL CARMEN <br>
    TUNJA, BOYACÁ<br>
    COLOMBIA</p> </div>
    </div>
    <div class="elementor-element elementor-element-993a25e elementor-widget elementor-widget-heading" data-id="993a25e" data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
    <p class="elementor-heading-title elementor-size-default"><a href="/+1-800-987-6543​">+57 319 520 1606</a></p> </div>
    </div>
    <div class="elementor-element elementor-element-f88fe57 elementor-widget elementor-widget-heading" data-id="f88fe57" data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
    <p class="elementor-heading-title elementor-size-default"><a href="/#"><span class="__cf_email__" data-cfemail="cbaaa7a0a4b98baeb3aaa6bba7aee5a8a4a6">produccionesparamo21@gmail.com</span></a></p> </div>
    </div>
    </div>
    </div>
    </div>
    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b51183e" data-id="b51183e" data-element_type="column">
    <div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
    <section class="elementor-section elementor-inner-section elementor-element elementor-element-3d21c15 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3d21c15" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b987b9b" data-id="b987b9b" data-element_type="column">
    <div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-d60caf7 elementor-nav-menu--indicator-none elementor-widget__width-auto elementor-nav-menu--dropdown-none elementor-widget elementor-widget-nav-menu" data-id="d60caf7" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;horizontal&quot;}" data-widget_type="nav-menu.default">
    <div class="elementor-widget-container">
    <nav role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none"><ul id="menu-1-d60caf7" class="elementor-nav-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11">
    
    <ul class="sub-menu elementor-nav-menu--dropdown">
    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-402"><a href="https://alcor-elementor.42theme.com/2020/04/16/the-kitchen-is-the-main-room-in-the-house-is-not-it/" class="elementor-sub-item">Single Post</a></li>
    </ul>
    </ul></nav>
    <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
    <i class="eicon-menu-bar" aria-hidden="true"></i>
    <span class="elementor-screen-only">Menu</span>
    </div>
    <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true"><ul id="menu-2-d60caf7" class="elementor-nav-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11">
    <ul class="sub-menu elementor-nav-menu--dropdown">
    </ul>
    </li>
    </ul></nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-88b23fe" data-id="88b23fe" data-element_type="column">
    <div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-96e8d21 elementor-align-right elementor-widget elementor-widget-button" data-id="96e8d21" data-element_type="widget" data-widget_type="button.default">
    <div class="elementor-widget-container">
    <div class="elementor-button-wrapper">
    
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <div class="elementor-element elementor-element-1989b02 elementor-widget elementor-widget-heading" data-id="1989b02" data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
    <h4 class="elementor-heading-title elementor-size-default">Creamos impresiones duraderas a través de <br> diseño arquitectónico.</h4> </div>
    </div>
    <div class="elementor-element elementor-element-e67310d e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="e67310d" data-element_type="widget" data-widget_type="social-icons.default">
    <div class="elementor-widget-container">
    <div class="elementor-social-icons-wrapper elementor-grid">
    <span class="elementor-grid-item">
    
    </span>
    <span class="elementor-grid-item">
    
    </span>
    <span class="elementor-grid-item">
    
    </span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>
    </div>