<nav>
    <ul>
    <li><a routerLink="/Proyects" routerLinkActive="active" >Proyectos</a></li>
    <li><a routerLink="/Material" routerLinkActive="active" >Materiales</a></li>
    <li><a routerLink="/ProyectHistory" routerLinkActive ="active" >Historial de proyectos</a></li>
    <li><a routerLink="/MaterialHistory" routerLinkActive="active" >Historial de materiales</a></li>
    <li><a routerLink="/RegisterUser" routerLinkActive="active"  >Registrar usuario</a></li>
    <li><a id="Salir" routerLink="/Login" routerLinkActive="active" >Salir</a></li>
    </ul>
</nav>

<br>
<br>
<br>
<br>

