<link href="http://fonts.cdnfonts.com/css/bogart" rel="stylesheet">
                
<div> 
    <mat-toolbar class="navBar">
      <div fxShow="true" fxHide.gt-sm="true">
       
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <button mat-button routerLink="/Projects">Proyectos</button>
        <button mat-button >Materiales</button>
        <button mat-button routerLink="/Users">Usuarios</button>
        <button mat-button routerLink="/ProjectHistory">Historial Proyectos</button>
      </div>
   
      <div class="push">
        <div class="notification">
          <p>
            <mat-icon [matMenuTriggerFor]="notification" matBadge="{{notifications}}" matBadgeColor="warn" *ngIf="notifications > 0">notifications</mat-icon>
            <mat-icon [matMenuTriggerFor]="notification" matBadgeColor="warn" *ngIf="notifications == 0">notifications</mat-icon>
            <mat-menu #notification="matMenu" [overlapTrigger]="false" class="my-full-width-menu">
              <div *ngFor="let notif of listNotifications"  >
                <button  *ngIf="notifications > 0" mat-menu-item style="white-space: normal"  (click)="viewNotification(notif)"  routerLink="/{{notif.type}}">
                  {{notif.NOTE}}
                </button>
              </div>
            </mat-menu>
          </p>
        </div>  
        <mat-icon mat-button [matMenuTriggerFor]="cabanias" >account_circle</mat-icon>
        <mat-menu #cabanias="matMenu" xPosition="after">
          <button mat-menu-item  (click)="abrirDialogo()">Editar perfil</button>
          <button mat-menu-item routerLink="/Cabañas" (click)="logout()">Salir</button>
        </mat-menu>
 
      </div>
      
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill class="example-container">
  
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">    
        <button mat-button >Proyectos</button>
        <button mat-button >Materiales</button>
        <button mat-button >Usuarios</button>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>

        <ng-content></ng-content>
      </mat-sidenav-content> 
    </mat-sidenav-container>

    <simple-notifications></simple-notifications>

  </div>

 