<app-admin-header>


  <div id="Title">
    <div class="top">
      <h2 >MATERIALES</h2>
      <mat-icon  class="add" (click)="abrirDialogo()" >add</mat-icon> 
    </div>
  </div>  
  
  <table mat-table [dataSource]="dataMaterial" class="mat-elevation-z8" #tabla1>
  
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.NOMBRE}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Unidad">
        <th mat-header-cell *matHeaderCellDef> Unidad de medida </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.UNIDAD_MEDIDA}} </td>
      </ng-container>
      
      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.CANTIDAD}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let j = index;">
           <button mat-raised-button color="OK" focusable="false" (click)="ComprarTodo(j)" >
            Comprar todo
          </button>
          <button mat-raised-button color="warn" focusable="false" (click)="ComprarParte(j)">
            Comprar una parte
          </button>
          <button mat-raised-button color="warn" focusable="false" (click)="Eliminar(j)">
            Eliminar Material
          </button>

         
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columnasInventario"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasInventario;"></tr>
    </table>

</app-admin-header>
   

  

