<link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>

<div id="frase">
    “En Producciones Páramo le damos significado a cada detalle durante el proceso de creación, por eso el resultado siempre serán clientes felices.”
</div>

<div id="name" style="font-family: Allura">
  Producciones páramo
</div>

<div id="proy">
  Nuestros proyectos
</div>


<div id="cont">
  <app-card image="https://i.pinimg.com/originals/d6/6b/31/d66b3178b8b9b79230d04a5bad9536f6.jpg" 
  name="Container" date="11/02/12" route="/Container">
  </app-card>
  <app-card image="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/kimo-02-1526546444.jpg?crop=0.543xw:0.611xh;0.231xw,0.190xh&resize=640:*" 
  name="Cabaña" date="11/02/12" route="/Cabañas">
  </app-card>
  <app-card image="https://i.pinimg.com/564x/dd/ba/bd/ddbabd736ff3c3ec9bd28ec8334dc51e.jpg" 
  name="Cupula" date="11/02/12" route="/Cupula" >
  </app-card>
</div>