#frase{
  font-size: 100%;
  text-align: center;
  line-height: 120%;
  margin:5%;
  border-top: 2px solid #000000;
  padding-top: 40px;
}

#name{
  color: rgb(0, 0, 0);
  font-size: 250%;
  font-weight: bold;
  margin-bottom: 8%;
  padding-bottom: 8%;
  border-bottom: 2px solid #000000;
}

#cont { 
  padding-top: 3%;
  display: flex;
  gap: 10px; 
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 678px) {
  
  #cont { 
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    
  }
  
} 