<ul class="menu bottomRight">
    <li class="share top">
      <i class="fa fa-share-alt"></i>
      <ul class="submenu">
        <li><a href="https://www.facebook.com/produccionesparamo/" class="facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.tiktok.com/@produccionesparamo" class="tiktok"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/produccionesparamo/" class="instagram"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </li>
  </ul>