<div data-elementor-type="header" data-elementor-id="7" class="elementor elementor-7 elementor-location-header">
    <div class="elementor-section-wrap">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-337db66 elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default" data-id="337db66" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}">
    <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6288777" data-id="6288777" data-element_type="column">
    <div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-aa58c35 elementor-widget__width-auto elementor-widget elementor-widget-theme-site-title elementor-widget-heading" data-id="aa58c35" data-element_type="widget" data-widget_type="theme-site-title.default">
    <div class="elementor-widget-container">
    <h2 class="elementor-heading-title elementor-size-default"><a href="#">Producciones Páramo</a></h2>
    </div>
    </div>
    <div class="elementor-element elementor-element-799ae2b elementor-nav-menu--indicator-none elementor-widget__width-auto elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="799ae2b" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
    <div class="elementor-widget-container">
    <nav role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-grow">
        <ul id="menu-1-799ae2b" class="elementor-nav-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11">
      
      <a routerLink="/Home" routerLinkActive="active"  >Inicio</a></li>
      <a routerLink="/Container" routerLinkActive="active" >Containers</a>
      <a routerLink="/Cupula" routerLinkActive="active" >Cupulas</a>
      <a routerLink="/Cabañas" routerLinkActive="active" >Cabañas</a>
    </ul>
</nav>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b5c70d7" data-id="b5c70d7" data-element_type="column">
    <div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-5e29cc5 elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="5e29cc5" data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
    </div>
    </div>
    

    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    </div>
    </div>