<ng-container id="ABC">
  
    <section id="ABC" class="elementor-section elementor-top-section elementor-element elementor-element-f3e40d5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f3e40d5" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2dd86e1" data-id="2dd86e1" data-element_type="column">
        <div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
        <div class="elementor-element elementor-element-4c6bdd2 elementor-widget elementor-widget-heading" data-id="4c6bdd2" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container"> </div>
        </div>
        <div class="elementor-element elementor-element-73f1f73 elementor-widget elementor-widget-heading" data-id="73f1f73" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
        <h3 class="elementor-heading-title elementor-size-default">Caracteristicas</h3> </div>
        </div>
        <div class="elementor-element elementor-element-dc7a501 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="dc7a501" data-element_type="widget" data-widget_type="divider.default">
        <div class="elementor-widget-container">
        <div class="elementor-divider">
        <span class="elementor-divider-separator">
        </span>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>


<section  id="ABC" class="elementor-section elementor-top-section elementor-element elementor-element-339ebdc elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="339ebdc" data-element_type="section">

    <div class="elementor-container elementor-column-gap-wide">
  <div class="elementor-row">
  <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-2ef4125 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="2ef4125" data-element_type="widget" data-widget_type="image-box.default">
  <div class="elementor-widget-container">
  <div class="elementor-image-box-wrapper">
    <figure class="elementor-image-box-img">
      <img width="296" height="296" src="https://cdn2.iconfinder.com/data/icons/boxicons-regular-vol-1/24/bx-area-256.png" class="elementor-animation-pop attachment-full size-full" alt="" data-lazy-src="https://cdn2.iconfinder.com/data/icons/boxicons-regular-vol-1/24/bx-area-256.png" />
      <noscript>
    <img width="296" height="296" src="https://cdn2.iconfinder.com/data/icons/boxicons-regular-vol-1/24/bx-area-256.png" class="elementor-animation-pop attachment-full size-full" alt="" />
  </noscript>
  </figure>
  <div class="elementor-image-box-content">
    <h3 class="elementor-image-box-title">Dimensiones</h3><p class="elementor-image-box-description"> Las cabañas que se manejan tienen una dimensión de 7x7 m²
    </p></div></div> </div>
  </div>
  </div>
  </div>
  
  <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-093f46a elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="093f46a" data-element_type="widget" data-widget_type="image-box.default">
  <div class="elementor-widget-container">
  <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="296" height="296" src="https://cdn1.iconfinder.com/data/icons/carbon-design-system-vol-4/32/fit-to-height-256.png" class="elementor-animation-pop attachment-full size-full" alt="" data-lazy-src="https://cdn1.iconfinder.com/data/icons/carbon-design-system-vol-4/32/fit-to-height-256.png" /><noscript>
    <img width="296" height="296" src="https://cdn1.iconfinder.com/data/icons/carbon-design-system-vol-4/32/fit-to-height-256.png" class="elementor-animation-pop attachment-full size-full" alt="" /></noscript></figure><div class="elementor-image-box-content">
    <h3 class="elementor-image-box-title">Altura </h3><p class="elementor-image-box-description">Para la parte mas alta de las cabañas de maneja
      un tamaño de 3 m de altura mientras que para la parte inferior se maneja un tamaño de 2 m de altura.
    </p></div></div> </div>
  </div>
  </div>
  
  <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-6e468ad elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="6e468ad" data-element_type="widget" data-widget_type="image-box.default">
  <div class="elementor-widget-container">
  <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="296" height="296" src="https://cdn0.iconfinder.com/data/icons/room-3/32/Shower-256.png" class="elementor-animation-pop attachment-full size-full" alt="" data-lazy-src="https://cdn0.iconfinder.com/data/icons/room-3/32/Shower-256.png" /><noscript>
    <img width="296" height="296" src="https://cdn0.iconfinder.com/data/icons/room-3/32/Shower-256.png" class="elementor-animation-pop attachment-full size-full" alt="" /></noscript></figure><div class="elementor-image-box-content">
    <h3 class="elementor-image-box-title">Baños</h3><p class="elementor-image-box-description"> 
      Las cabañas cuentan con un baño de 3x2 m².
    </p></div></div> </div>
  </div>
  </div>
  </div>
  </section>
  
<section id="ABC" class="elementor-section elementor-top-section elementor-element elementor-element-339ebdc elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="339ebdc" data-element_type="section">
  <div class="elementor-container elementor-column-gap-wide">
  <div class="elementor-row">
  <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-2ef4125 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="2ef4125" data-element_type="widget" data-widget_type="image-box.default">
  <div class="elementor-widget-container">
  <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="296" height="296" src="https://cdn3.iconfinder.com/data/icons/furniture-4-4/512/furniture_living_room_home_house_offie-09-256.png" class="elementor-animation-pop attachment-full size-full" alt="" data-lazy-src="https://cdn3.iconfinder.com/data/icons/furniture-4-4/512/furniture_living_room_home_house_offie-09-256.png" /><noscript>
    <img width="296" height="296" src="https://cdn3.iconfinder.com/data/icons/furniture-4-4/512/furniture_living_room_home_house_offie-09-256.png" class="elementor-animation-pop attachment-full size-full" alt="" /></noscript></figure><div class="elementor-image-box-content">
      <h3 class="elementor-image-box-title">Habitaciones</h3><p class="elementor-image-box-description">
        Las cabañas cuentan con 1 habitación de 5x3 m².
      </p></div></div> </div>
  </div>
  </div>
  </div>
  
  <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-093f46a elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="093f46a" data-element_type="widget" data-widget_type="image-box.default">
  <div class="elementor-widget-container">
  <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="296" height="296" src="https://cdn4.iconfinder.com/data/icons/food-and-equipment-outline/32/spoon_holder-256.png" class="elementor-animation-pop attachment-full size-full" alt="" data-lazy-src="https://cdn4.iconfinder.com/data/icons/food-and-equipment-outline/32/spoon_holder-256.png" /><noscript>
    <img width="296" height="296" src="https://cdn4.iconfinder.com/data/icons/food-and-equipment-outline/32/spoon_holder-256.png" class="elementor-animation-pop attachment-full size-full" alt="" /></noscript></figure><div class="elementor-image-box-content">
    <h3 class="elementor-image-box-title">Cocina</h3><p class="elementor-image-box-description">
      Las cabañas cuentan con una cocina de 3x2 m².
    </p></div></div> </div>
  </div>
  </div>
  
  <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-6e468ad elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="6e468ad" data-element_type="widget" data-widget_type="image-box.default">
  <div class="elementor-widget-container">
  <div class="elementor-image-box-wrapper">
    
    <div class="elementor-image-box-content">
    
  </div>
  </div> 
  </div>
  </div>
  </div>
  </div>
  </section>
</ng-container>